{% extends 'index.html' %}
{% block contenido %}
<div  style="height: 20px" class="jumbotron">
<div style="margin-left:auto;margin-right: auto;">
    <br>
    <h3 class="card-title">Listado de Libros</h3>
    <br>
 </div>
</div>
<p>
<br>
   <a href="{% url 'CreaLibro' %}">AÑADIR LIBRO</a>

</p>
<div class="card">

              <!-- /.card-header -->
              <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
 <thead>
      <tr>
        <th>Título del libro</th>
        <th>Autor</th>
        <th>Edición</th>
        <th>Eliminar</th>
        <th>Editar</th>

      </tr>
    </thead>
<tbody>
{% for libro in object_list %}
    <tr>
        <td>{{ libro.titulo }}</td>
        <td>{{ libro.autor }}</td>
        <td>{{ libro.edicion }}</td>

        <td><button  class="btn btn-outline-primary btn-block" onclick=""><a href="{% url 'borralibros' libro.id %}">ELIMINAR</a></button></td>
        <td><button  class="btn btn-outline-primary btn-block" onclick=""><a href="{% url 'librosAct' libro.id %}">EDITAR</a></button></td>
    </tr>
{% endfor %}
</tbody>
<tfoot>
    <tr>
       <th>Título del libro</th>
        <th>Autor</th>
        <th>Edición</th>
        <th>Eliminar</th>
        <th>Editar</th>
    </tr>
 </tfoot>
</table>
</div>
</div>
{% endblock %}