{% extends 'index.html' %}
{% block contenido %}

     <br>
  <h3 class="card-title">LISTADO DE TEMAS</h3>

<div class="card">
              <div class="card-header">
                <a href="{% url 'Createmas' %}" class="card-title">AÑADIR</a>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
 <thead>
      <tr>
        <th scope="col">Nombre del tema</th>
        <th scope="col">Materia</th>
        <th scope="col">Modificar</th>
        <th scope="col">Borrar</th>


      </tr>
    </thead>
<tbody>
{% for tema in object_list %}
    <tr>
        <td scope="row" >{{ tema.temaNombre }}</td>
        <td scope="row">{{ tema.perfilId }}</td>
        <td scope="row"><button  class="btn btn-outline-primary btn-block" onclick=""><a href="{% url 'TematicasAct' tema.id %}">Modificar</a></button></td>
        <td scope="row"><button  class="btn btn-outline-primary btn-block" onclick=""><a href="{% url 'borraTemas' tema.id %}">Eliminar</a></button></td>
    </tr>
{% endfor %}
</tbody>
 <tfoot>
    <tr>
        <th scope="col">Nombre del tema</th>
        <th scope="col">Materia</th>
        <th scope="col">Modificar</th>
        <th scope="col">Borrar</th>
    </tr>
 </tfoot>
</table>
</div>
</div>

{% endblock%}
