{% extends 'index.html' %}
{% block contenido %}
<div  style="height: 20px" class="jumbotron">
<div style="margin-left:auto;margin-right: auto;">
  <br>
  <p>Paquete  de {{pkt}}</p>
 </div>
</div>
<div class="container col auto"  >
<div class="container col auto row"  >
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <div class="card-header card text-black " >Soluciones del paquete {{pkt}}</div>
  <div class="card-body" >

  <label for="sel1" class="text-black">Seleccione un problema e irá a la solución:</label>
      <hr>
<div style="overflow:scroll;height:150px;width:280px;border:solid" class="text-black">
    <ul>
    {%for j in problemas%}
    <li><a class="text-black" href="{% url 'versolucion'  j.problemaID.problemaLibro j.problemaID.problemaNumero %}">{{j.problemaID.problemaNumero}}/{{j.problemaID.problemaLibro}}</a></li>

      {% endfor %}
        </ul>
</div>
      <br>
      </div>
      <hr>
<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" >
      <label >Haga click sobre la figura e ira a la solución:</label>
</div>
</div>




  <div class="landing-categories owl-carousel col-lg-6 col-md-6 col-sm-12 col-xs-12" >

    {% for u in problemas %}


        <div class="item">
            <div class="card rounded-0 border-0 text-center">
        <a href="{% url 'versolucion' u.problemaID.problemaLibro  u.problemaID.problemaNumero %}"><img src="{{u.problemaID.problemaProblema.url }}" width="250" height="250" ></a>
        </div>
  </div>


   {%endfor%}



</div>
</div>
</div>


{%endblock%}



