{% extends 'index.html' %}
{% block contenido %}
<div  style="height: 20px" class="jumbotron">
<div style="margin-left:auto;margin-right: auto;">
  <br>
  <p>Paquete  de {{pkt}}</p>
 </div>
</div>

 <br>
<div>
       <button type="button" class="btn btn-primary hBack"><a href="{%url 'mipkt' pkt %}">Volver</a></button>
    </div>
<br>


<div class="row" style="width: 100%;height: 100%" >

  <div class="col-md-8"  >
        <canvas class="col-lg-10 col-md-10 col-sm-12 col-xs-12" id="my_canvas"></canvas>
  </div>

<div class="col-md-4">

  <img class="col-lg-10 col-md-10 col-sm-12 col-xs-12" src="{{solucion.problemaProblema.url}}" >
    <br>
    <br>
    <hr size="8px" color="black" />

  <div style="margin-left: 5px" class="row">

      <audio class="col-lg-10 col-md-10 col-sm-12 col-xs-12" id="medio" controls>Escuchar
      {%if solucion.problemaVideo %}
              <source src="{{solucion.problemaVideo.url}}">

       {% else %}
        <source src="">
       {%endif%}
</audio>
  </div>
</div>


</div>

</div>
<script>$(".hBack").on("click", function(e){
    e.preventDefault();
    window.history.back();
});</script>

   <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@2.5.207/build/pdf.min.js"></script>
    <script>
        const loadingTask = pdfjsLib.getDocument('{{solucion.problemaSolucion.url}}'); //reinier acaba de resolver esto
    loadingTask.promise.then(doc => {

        doc.getPage(1).then(page => {

            var scale = 1.5;
            var viewport = page.getViewport({scale: scale});

            // Prepare canvas using PDF page dimensions
            var canvas = document.getElementById('my_canvas');
            var context = canvas.getContext('2d');
            canvas.height = viewport.height;
            canvas.width = viewport.width;

            // Render PDF page into canvas context
            var renderContext = {
              canvasContext: context,
              viewport: viewport
            };
            var renderTask = page.render(renderContext);

        });
    });
    </script>
{% endblock %}




